<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
  <meta charset="UTF-8">
  <title>Módosítás</title>
</head>
<body>
<div layout:fragment="content" class="container">
<h2 class="mt-3">Szállás módosítása</h2>

<form th:action="@{/editAccomodation}" method="post">
  <input class="form-control" type="hidden" th:field="*{accommodation.id}" />

  <div class="mb-3">
    <label for="name" class="form-label">Név</label>
    <input class="form-control" type="text" id="name" name="name" th:value="${accommodation.name}" required />
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">Város</label>
    <input class="form-control" type="text" id="city" name="city" th:value="${accommodation.city}" required />
  </div>

  <div class="mb-3">
    <label for="street" class="form-label">Utca</label>
    <input class="form-control" type="text" id="street" name="street" th:value="${accommodation.street}" required />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Leírás</label>
    <textarea class="form-control" id="description" name="description" th:text="${accommodation.description}" required></textarea>
  </div>

  <div class="mb-3">
    <label for="hsz" class="form-label">Helyrajzi szám</label>
    <input class="form-control" type="text" id="hsz" name="hsz" th:value="${accommodation.hsz}" required />
  </div>

  <div class="mb-3">
    <label for="irsz" class="form-label">Irányítószám</label>
    <input class="form-control" type="text" id="irsz" name="irsz" th:value="${accommodation.irsz}" required />
  </div>

  <div class="mb-3">
    <label for="longitude" class="form-label">Hosszúság</label>
    <input class="form-control" type="text" id="longitude" name="longitude" th:value="${accommodation.longitude}" required />
  </div>

  <div class="mb-3">
    <label for="langitude" class="form-label">Szélesség</label>
    <input class="form-control" type="text" id="langitude" name="langitude" th:value="${accommodation.langitude}" required />
  </div>

  <div class="mb-3">
    <label for="type" class="form-label">Típus</label>
    <select class="form-control" id="type" name="type" th:value="${accommodation.type}" required>
      <option value="APARTMAN" th:selected="${accommodation.type == 'APARTMAN'}">Apartman</option>
      <option value="SZÁLLODA" th:selected="${accommodation.type == 'SZÁLLODA'}">Szálloda</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Mentés</button>
</form>
</div>
</body>
</html>
