<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
    <title>Accomodation Booking</title>
</head>
<body>
<!-- Main Content -->
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Bejelentkezés</h5>
                    <form action="loginRequest" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" name="username" required class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Felhasználónév</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" required class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Jelszó</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Remember password
                            </label>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Bejelentkezés</button>
                        </div>
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Hibás felhasználónév vagy jelszó.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success" role="alert">
                            Sikeres kijelentkezés.
                        </div>
                        <hr class="my-4">
                        <div class="d-grid mb-2">
                            <p>Nincs még fiókod? <a href="/register">Regisztrálj egyet!</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>