<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Foglalások</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div sec:authorize="hasAuthority('GUEST')">Foglalások megjelenítése GUEST számára</div>


    <h2>Reservation Details</h2>

    <!-- Foglalások listája -->
    <div th:if="${not #strings.isEmpty(reservations)}" class="table-container">
        <table class="table table-bordered">
            <!-- Táblázat fejléce -->
            <thead>
            <tr>
                <!-- Mezőnevek -->
<!--                <th>ID</th>-->
                <th>Szállás neve</th>
                <th>Személyek száma</th>
                <th>Mettől</th>
                <th>Meddig</th>
                <th>Módosítás/Törlés</th>
            </tr>
            </thead>
            <!-- Táblázat tartalma -->
            <tbody>
            <!-- Minden foglalás megjelenítése -->
            <tr th:each="reservation : ${reservations}">
                <!-- Mezők kitöltése -->
<!--                <td th:if="${reservation.id != null}" th:text="${reservation.id}"></td>-->
                <td th:if="${reservation.accomodation != null}" th:text="${reservation.accomodation.name}"></td>
                <td th:if="${reservation.numberOfPerson != null}" th:text="${reservation.numberOfPerson}"></td>
                <td th:if="${reservation.check_in_date != null}" th:text="${reservation.check_in_date}"></td>
                <td th:if="${reservation.check_out_date != null}" th:text="${reservation.check_out_date}"></td>
                <td>
                    <!-- Módosítás és törlés gombok -->
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary" th:href="@{'/reservation/edit/' + ${reservation.id}}">Edit</a>
                        <a class="btn btn-sm btn-danger" th:href="@{'/reservation/delete/' + ${reservation.id}}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Új foglalás hozzáadása gomb -->
<!--    <a class="btn btn-success" th:href="@{'/reservation/add'}">Add Reservation</a>-->

    <!-- Szerkesztési űrlap modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div th:if="${reservationToEdit != null}">
                        <!-- Űrlap elemei -->
                        <form th:action="@{/reservation/save}" method="post" th:object="${reservationToEdit}">
                            <input type="hidden" id="id" th:field="*{id}" />
                            Teszt:
                            <label for="numberOfPerson">Number of Persons:</label>
                            <input type="text" id="numberOfPerson" th:field="*{numberOfPerson}" />

                            <label for="checkInDate">Check-In Date:</label>
                            <input type="date" id="checkInDate" th:field="*{check_in_date}" />

                            <label for="checkOutDate">Check-Out Date:</label>
                            <input type="date" id="checkOutDate" th:field="*{check_out_date}" />

                            <input type="hidden" id="accomodation" th:field="*{accomodation}" />

                            <input type="hidden" id="customer" th:field="*{customer}" />


                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



</div>




</body>
</html>