<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Stílusok az értékelési csillagokhoz -->
    <style>
        .rating {
            display: inline-block;
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: center;
        }
        .rating input {
            display: none;
        }
        .rating label {
            cursor: pointer;
            width: 1em;
            font-size: 2em;
            color: #ddd;
            float: right;
            transition: color 0.3s ease-in-out;
        }
        .rating label:before {
            content: '★';
        }
        .rating input:checked ~ label,
        .rating input:checked ~ label ~ label {
            color: #f7d401;
        }
        .rating input:checked ~ label,
        .rating input:checked ~ label ~ label,
        .rating label:hover,
        .rating label:hover ~ label {
            color: #000;
        }
        .rating input:checked ~ label.rated,
        .rating input:checked ~ label.rated ~ label {
            color: #f7d401;
        }
        .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .form-check-input {
            margin-right: 10px;
            flex-shrink: 0;
        }

        .form-check-label {
            margin: 0;
            flex-grow: 1;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card-header">Szállások részletes keresése</div>
            <div class="card-body">
                <form th:method="post" th:action="@{/reszletesKereses}" th:object="${reszletesKereses}">
                    <div class="form-floating mb-3">
                            <input type="text" name="hova" th:field="*{hova}"  class="form-control" placeholder="Balaton">
                        <label>Hova</label>
                    </div>
                    <div class="form-floating mb-3">
                            <input type="date" name="check_in" th:field="*{check_in}" class="form-control" >
                        <label>Mettől</label>
                    </div>
                    <div class="form-floating mb-3">
                            <input type="date" name="check_out" th:field="*{check_out}"  class="form-control" >
                        <label>Meddig</label>
                    </div>
                    <div class="form-floating mb-3">
                            <input type="number" name="numberOfPerson" th:field="*{numberOfPerson}"   class="form-control" placeholder="1">
                        <label>Személyek száma</label>
                    </div>
                    <div class="mb-3">
                        <label for="StarsInput" class="form-label">Szállások besorolása</label>
                        <input type="text" class="form-control" id="StarsInput" name="Stars" placeholder="Pl. 5 csillag">
                    </div>
                   <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="reggeliCheckbox" th:field="*{teljesELlatas}" th:value="*{isTeljesELlatas()}">
                        <label class="form-check-label" for="reggeliCheckbox">Teljes panzió</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="vacsoraCheckbox" th:field="*{felEllatas}" th:value="*{isFelEllatas()}">
                        <label class="form-check-label" for="vacsoraCheckbox">Fél panzió</label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="wifiCheckbox" th:field="*{wifi}" th:value="*{isWifi()}">
                        <label class="form-check-label" th:for="wifiCheckbox">Ingyenes WiFi</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="parkolasCheckbox" th:field="*{parkolas}" th:value="*{isParkolas()}">
                        <label class="form-check-label" th:for="parkolasCheckbox">Parkolás</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" name="search" type="submit">Keresés</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <p><span th:text="${#maps.size(szallasok)}"></span> keresési találat.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p th:text="${search.getHova() + ', ' + search.getCheck_in() + ' - ' + search.getCheck_out()}"></p>
                </div>
            </div>
            <div th:each="szallas : ${szallasok}" class="card mb-3 search-result-card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid p-3" style="border-radius: 24px;" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${szallas.getKey().getName()}"></h5>
                            <p class="card-text" th:text="${szallas.getKey().getDescription()}"></p>

                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="card-text" th:text="${szallas.getValue().getType() + ' szoba'}"></p>
                                </div>
                                <div class="col-lg-6 text-end">
                                    <!-- Értékelési csillagok, csak bejelentkezett felhasználónak. -->
                                    <div th:if="${#authorization.expression('isAuthenticated')}"
                                         th:attr="data-hotel-id=${szallas.getKey().getId()}">
                                        <div th:unless="${hasRated}">
                                            <div class="rating">
                                                <input type="radio" th:id="'star1_' + ${szallas.getKey().getId()}" name="rating_${szallas.getKey().getId()}" value="1" />
                                                <label th:for="'star1_' + ${szallas.getKey().getId()}"></label>
                                                <input type="radio" th:id="'star2_' + ${szallas.getKey().getId()}" name="rating_${szallas.getKey().getId()}" value="2" />
                                                <label th:for="'star2_' + ${szallas.getKey().getId()}"></label>
                                                <input type="radio" th:id="'star3_' + ${szallas.getKey().getId()}" name="rating_${szallas.getKey().getId()}" value="3" />
                                                <label th:for="'star3_' + ${szallas.getKey().getId()}"></label>
                                                <input type="radio" th:id="'star4_' + ${szallas.getKey().getId()}" name="rating_${szallas.getKey().getId()}" value="4" />
                                                <label th:for="'star4_' + ${szallas.getKey().getId()}"></label>
                                                <input type="radio" th:id="'star5_' + ${szallas.getKey().getId()}" name="rating_${szallas.getKey().getId()}" value="5" />
                                                <label th:for="'star5_' + ${szallas.getKey().getId()}"></label>
                                            </div>
                                        </div>
                                        <div th:if="${hasRated}">
                                            <p>Your previous rating: <span th:text="${existingRating.get().getValue()}"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text" th:text="${szallas.getValue().getPrice()*napokSzama + ' Ft'}"></p>
                                    <p class="card-text" th:text="${napokSzama + ' éjszaka, ' + search.numberOfPerson + ' főre'}"></p>
                                </div>
                            <a th:href="${'/accomodation/' + szallas.getKey().getId()}" class="btn btn-primary">Részletek</a>
                            <a th:href="${'/reservation/new/' + szallas.getKey().getId()}" class="btn btn-primary">Foglalás</a>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
