<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
  <title>Accommodation-Admin</title>
</head>
<body>
<!-- Main Content -->
<div layout:fragment="content" class="container">
  <h2>Szállások Kezelése</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Szállás Neve</th>
      <th>Módosítás</th>
      <th>Törlés</th>
    </tr>
    </thead>
    <tbody>
    <!-- Példa sor, itt kell majd dinamikusan generálni a szállásokat -->
    <tr th:each="accommodation : ${accomodations}">
      <td th:text="${accommodation.name}">Szállás neve</td>
      <td><form th:action="@{/admin/modify}" method="get">
        <input type="hidden" name="id" th:value="${accommodation.id}" />
        <button type="submit" class="btn btn-warning">Módosítás</button>
      </form></td>
      <td><a th:href="@{/deleteSzallas/{id}(id=${accommodation.id})}">Törlés</a></td>
    </tr>
    <!-- Eddig a példa sor -->
    </tbody>
  </table>
</div>
</body>
</html>
